*.txt
*.jpg
*.mp4
*.rar

REPORTS/
input_generation/

bankersAlgorithmCPU/*
!bankersAlgorithmCPU/bankersAlgorithmCPU/

bankersAlgorithmCPU/bankersAlgorithmCPU/*
!bankersAlgorithmCPU/bankersAlgorithmCPU/*.cpp

bankersAlgorithmGPU/*
!bankersAlgorithmGPU/bankersAlgorithmGPU/

bankersAlgorithmGPU/bankersAlgorithmGPU/*
!bankersAlgorithmGPU/bankersAlgorithmGPU/*.cu