REPORTS/
*.txt
*.jpg
bankersAlgorithmCPU/*
!bankersAlgorithmCPU/bankersAlgorithmCPU/

bankersAlgorithmCPU/bankersAlgorithmCPU/*
!bankersAlgorithmCPU/bankersAlgorithmCPU/*.cpp

bankersAlgorithmGPU/*
!bankersAlgorithmGPU/bankersAlgorithmGPU/

bankersAlgorithmGPU/bankersAlgorithmGPU/*
!bankersAlgorithmGPU/bankersAlgorithmGPU/*.cu